<h1>Listing products</h1>

<table class="table">
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.image_url) %></td>
        <td>
          <p class="title"><%= product.title %></p>
          <p class="description"><%= truncate(strip_tags(product.description), length: 200) %></p>
        </td>
        <td><%= product.price %></td>
        <td><%= link_to "Show", product %></td>
        <td><%= link_to "Edit", edit_product_path(product) %></td>
        <td><%= link_to "Destroy", product, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Product", new_product_path %>
